body
{
	margin: 0px;
	padding: 0px;
	background-color: silver;
	font-family: Arial;
	/*arriere plan */
	background: url("paper.png") scroll;
}

/*---------- EN TETE ----------*/
header
{
	background-color: rgba(129,206,53,0.5);
	box-shadow: 0px 5px 5px silver;
	height: 80px;
	width: 100%;
	position: fixed;
	top :0px;
}

header #en-tete-centre
{
	width: 1000px;
	height: 80px;
	position: fixed;
	left: 50%;
	right: 50%;
	margin-left: -500px;
	margin-right: -500px;
	
}

header #logo, header img
{
	margin-top: 13px;
	width: 170px;
	height: 50px;
	position: fixed;
}

header a
{
	color: #2f3279;
	text-decoration: none;
	font-weight: bold;
	
}
header a:hover
{
	color: white;
	text-decoration: none;
	

}

header #liste-liens
{
	position: fixed;
	left: 50%;
	top: 35px;
	margin-left: -320px;
	padding: 0px;
	
}

header #liste-liens li
{
	
		display: inline-block;
	margin: 0px 20px;
}

header p
{
	position: fixed;
	right: 50%;
	margin-right: -500px;
	top: 5px;
	color: #3f44af;
	font-weight: bold;
	font-size: 120%;
}

header #liste-profile 
{
	position: fixed;
	right: 50%;
	margin-right: -500px;
	top: 35px;
	padding: 0px;
}

header #liste-profile li
{
		display: inline-block;
	margin: 0px 5px;
}


/*
header #menu
{
	display: inline-block;
	margin-left: 20px;
}

header #menu a
{
	color: rgb(247, 253, 186);
	text-decoration: none;
	margin: 0px 10px;
}

header #menu a:hover
{
	color: white;	
	text-decoration: none;
	text-shadow: 0px 0px 7px silver;

}

header #menu span
{
	color: black;
	text-shadow: 0px 0px 5px white;
}
*/

/* ---------- FIN EN TETE ---------- */

/* ---------- PIED DE PAGE ---------- */
footer
{
	background-color: rgba(129,206,53,0.5);
	box-shadow: 0px 5px 5px silver;
	height: 40px;
	width: 100%;
}

footer p
{
	padding:5px;
	text-align: center;
}

/* ---------- FIN PIED DE PAGE ---------- */

/* ---------- SECTION CENTRALE ---------- */

#section-centrale
{
	margin: 80px auto;
	padding: 25px;
	width: 1000px;
	border-radius: 5px;
	text-align: center;
	overflow: auto;
}

#section-centrale .bloc-principal
{
	box-shadow: 0px 0px 5px silver;
	background-color: rgba(255,255,255,0.2);
	padding: 10px;
  border-radius: 5px;
	margin: 20px 0px;
}

#message-erreur
{
	color: red;
	font-weight: bold;
}

				/* --------- FORM CONNEXION -------*/
#formulaire-connexion label, #formulaire-connexion input,
#formulaire-inscription label, #formulaire-inscription input
{

	margin: 20px 0px;
}

#formulaire-connexion-tab
{
        border-collapse:collapse;
        text-align:center;
}

#formulaire-connexion-tab td
{
        border:none;
        outline:none;
}

#formulaire-inscription label
{
	width: 120px;
	display: inline-block;
}

/* ---------- FORMULAIRE INSCRIPTION ----------*/

/* ---------- FIN  FORMULAIRE INSCRIPTION ----------*/

         /* --------- TABLEAU BDD ----------- */

table
{
	border-collapse: collapse;
	margin: auto;
	width: 100%;
}
td
{
	border: 1px solid silver;
	padding: 5px;
	width: 16%;
}
td a:link 
{
	color: red;
	text-decoration: none;
}
td a:visited
{
	color: red;
	text-decoration: none;
}
td a:hover
{
	font-weight: bold;
}

th
{
	color: #4CB453;
}
#M_id, #M_avatar, #M_nom, #M_prenom
{
	width: 80%;
}

/*	           ----------PROFILE-------- */


#profile-bloc #profile-picture
{
	display: block;
	margin: 10px auto;
	border: 1px solid black;
	width: 150px;
	height: 150px;
}

#profile-bloc #bloc-info-user
{
	width: 150px;
	margin: auto;
	text-align: left;
}

#profile-bloc #bloc-info-user .info-user
{
	font-weight: bold;
}


#profile-bloc #statut
{
	border-top : 1px solid black;
	border-bottom : 1px solid black;
	width: 50%;
	margin: 40px auto;
	padding: 20px;
	
}

#bloc-redaction-tweet textarea
{
	width: 80%;
	height: 100px;
	
}





#user-list
{
	width: 175px;
     display: inline-block;
     margin: 0px;
     border-radius: 10px;
     padding: 20px;
     background-color : #97e600;
     text-align:left;
     padding-left:50px;
}
/*                 -------- FIN PROFILE ------ */
	

/* 		             ---------- TWEET -----------*/

.box-tweet
{
	box-shadow: 0px 0px 5px silver;
	background-color: rgba(255,255,255,0.2);
	text-align: left;
	padding: 10px;
  border-radius: 10px;
  display: inline-block;
  width: 80%;
	margin-top:20px;
}

.profile-picture-tweet
{
	width: 70px;
	height: 70px;
	display: inline-block;
	
	box-shadow: 0px 0px 3px black;
	border-radius: 5px;
}

.infoUser
{
	display: inline-block;
	vertical-align: bottom;
}

.identifiant-tweet
{
	font-size: 20px;
	margin: 0px 10px;
}

.id-tweet
{
	margin: 0px 10px;
	font-size: 15px;
	color: green;
}

.message-tweet
{
	bdorder: 1px solid black;
	margin: 25px 40px;
}

.form-tweet
{
	width: 500px;
	margin: auto;
	padding: 10px;
	text-align: center;
	border-top: 1px solid green;
}
.form-tweet button
{
	margin-left: 15px;
}

/* ---------- FIN SECTION CENTRALE ---------- */


