body
{
	margin: 0px;
	padding: 0px;
	background-color: silver;
	font-family: Arial;
	/*arriere plan */
	background:
	linear-gradient(135deg, #FFDBBC 22px, #FFC592 22px, #FFC592 24px, transparent 24px, transparent 67px, #FFC592 67px, #FFC592 69px, transparent 69px),
	linear-gradient(225deg, #FFDBBC 22px, #FFC592 22px, #FFC592 24px, transparent 24px, transparent 67px, #FFC592 67px, #FFC592 69px, transparent 69px)0 64px;
	background-color: #FFDBBC;
	background-size: 64px 128px
}

/*---------- EN TETE ----------*/
header
{
	background-color: #4CB453;
	box-shadow: 0px 5px 5px gray;
	height: 50px;
	margin-top: 0px;
	overflow:auto;
	
}

header #en-tete-centre
{
	width: 1000px;
	height: 45px;
	margin: auto;
	border: 1px solid #4CB453;
}

header #logo
{
	font-size: 30px;
	letter-spacing: 3px;
	font-weight: bold;
	color: #F7FDBA;
	width: 150px;
	margin: 5px;
	display: inline-block;
	float:left;
	
}

header #menu
{
    width: 500px;
		word-spacing: 25px;
		text-align: center;
		display: inline-block;
		margin-left: 330px;
		margin-top: 30px;
		color: rgb(247, 253, 186);
		font-weight: bold;
}

header #menu a
{
	color: rgb(247, 253, 186);
	text-decoration: none;
}

header #menu a:hover
{
	color: white;	
	text-decoration: none;
	text-shadow: 0px 0px 7px silver;	
}


/* ---------- FIN EN TETE ---------- */

/* ---------- PIED DE PAGE ---------- */
footer
{
	background-color: #4CB453;
	height: 40px;
	box-shadow: 5px 0px 5px gray;
	color: #F7FDBA;
	font-weight: bold;
}

footer p
{
	padding:5px;
	text-align: center;
}

/* ---------- FIN PIED DE PAGE ---------- */

/* ---------- SECTION CENTRALE ---------- */
#section-centrale
{
	margin: 20px auto;
	padding: 25px;
	width: 1000px;
	box-shadow: 0px 0px 5px black;
	border-radius: 5px;
	text-align: center;
	background-color: #F2FDF3;
	overflow: auto;
}
#section-centrale h1
{
	color: #4CB453;
	width: 600px;
	margin: auto;
	border-bottom: 2px solid #A8E4AC;

	letter-spacing: 2px;
}

#message-erreur
{
	color: red;
	font-weight: bold;
}

         /* --------- TABLEAU BDD ----------- */

table
{
	border-collapse: collapse;
	margin: auto;
	width: 800px;
}
td
{
	border: 1px solid silver;
	padding: 5px;
	width: 16%;
}
td a:link 
{
	color: red;
	text-decoration: none;
}
td a:visited
{
	color: red;
	text-decoration: none;
}
td a:hover
{
	font-weight: bold;
}

th
{
	color: #4CB453;
}
#M_id, #M_avatar, #M_nom, #M_prenom
{
	width: 80%;
}

/*	           ----------PROFILE-------- */

#profile-bloc
{
	border: 1px solid #000;
     border-radius: 10px;
     padding: 20px;
     display: inline-block;
     float: left;
     width: 700px;
}

#profile-bloc #profile-picture
{
     border: 1px solid #F00;
     width: 150px;
     height: 150px;
     border-radius: 15px;
     box-shadow: 0px 0px 5px silver;
     transition: width 2s, height 2s, transform 3s, box-shadow 1s;
     	
}

#profile-bloc #profile-picture:hover
{


        box-shadow: 0px 0px 10px black;
/*
        width: 400px;
        height: 400px;
        transform: rotate(1440deg);
        box-shadow: 0px 0px 40px red;
        */
}

#profile-bloc #compte-info
{
	font-weight: bold;
	font-style: italic;
}
#profile-bloc #tweet
{
	width: 300px;
     height: 75px;
     color: #99ccff;
}

#profile-bloc #statut
{

}



#user-list
{
	width: 175px;
     display: inline-block;
     margin: 0px;
     border-radius: 10px;
     padding: 20px;
     background-color : #97e600;
     text-align:left;
     padding-left:50px;
}
/*                 -------- FIN PROFILE ------ */
	

/* 		             ---------- TWEET -----------*/

.box-tweet
{
	box-shadow: 0px 0px 5px black;
	background-color: white;
	text-align: left;
	padding: 10px;
  border-radius: 10px;
  padding: 20px;
  display: inline-block;
  float: left;
  width: 700px;
	margin-top:20px;
}

.profile-picture-tweet
{
	width: 80x;
	height: 80px;
	display: inline-block;
	
	box-shadow: 0px 0px 3px black;
	border-radius: 5px;
}

.identifiant-tweet
{
	display: inline-block;
	font-size: 20px;
	margin: 0px 10px;
	
}

.form-tweet
{
	width: 500px;
	margin: auto;
	padding: 10px;
	text-align: center;
	border-top: 1px solid green;
}
.form-tweet button
{
	margin-left: 15px;
}

/* ---------- FIN SECTION CENTRALE ---------- */

/* ---------- FORMULAIRE INSCRIPTION ----------*/

#formulaire-inscription
{
	border: 2px solid #A8E4AC;
	border-radius: 15px;
	width: 350px;
	margin: 50px auto;
	padding: 10px;
	text-align: center;
	line-height: 60px;
	
}

/* ---------- FIN  FORMULAIRE INSCRIPTION ----------*/
